In [3]:
#LIST
#allow mutable, duplicate data
x=[1,2,3,'applw',True]

y=list()

print(x[-3],y)

# iteration
for i in x:
  print(i)

# in operator and len operator
if 1 in x:
  print('present')
else:
  print('absent')

print(len(x))

#Functions on list:

""" append(item)-->adds to the end of list
    insert(index,item)==>adds to a specific index
    pop()==>removes the last element from list
    remove(item)--->remove a specific item but throws a values errro in case of absence of item
    sort()-->sort the list in place
    sorted(list)-->create a neew list that is sorted
    clear(list)-->clear the list
    reverse()-->reverse the order of list"""

# Some more operations
# Slicing:create s new list

z=x[::-1]
print(z)
# copy methos of list creates a new list
# concatenation of lists list1+list2
#list comprehension

3 []
1
2
3
applw
True
present
5
[True, 'applw', 3, 2, 1]

In [9]:
# tuple: immutable,ordered collection of objects
a=tuple([1,2,3,4])
b=tuple('abc',) # for tuple of one value follow the syntax

try:
  b[0]='abc'
except Exception as e:
  print(f'tuple is immutable : {e}')

print(a[0])

# iteration,len and in same as everyother sequence of python

# tuple method
print(a.count(0))

"""count(item)--->to count the frequency of item in a tuple
    index(item)--->return the index of item in a tuple, can throw a valueerror too
"""

# other op:
# slicingg,unpacking
x,*y=a
print(x)
print(y)
# tuple are more efficient in creation time and space in memory than lists are
c=(0,9,8,7)
d=[0,9,8,7]
import sys
print(sys.getsizeof(c),'bytes')
print(sys.getsizeof(d),'bytes')

tuple is immutable : 'tuple' object does not support item assignment
1
0
1
[2, 3, 4]
72 bytes
88 bytes

In [14]:
#dictionaries are mutable,unordered, key:val pair datatypes
dict1={'name':'faiza','city':'pindi','university':'PIEAS',1:'eferwfer'}
dict2=dict(a='apple',b='bananaa')

print(dict1)
print(dict2)

for key in dict1:
  print(type(key))

# accessing the item
print(dict1[1])
print(dict1.get('name'))

#deleting in dict
del dict1[1]
print(dict1)
# pop(key ) can also remove the key value pair

# adding
dict1['email']='faiza@gmail.com'

# in operator
# iteration: keys()-->return the kesy in a dict, values() -->return values in a dict, items()-->return key,val pair in a dict
# copying a dict by assingment operator or by copy method or new_dict=dict(old_dict)--->return a new dict

{'name': 'faiza', 'city': 'pindi', 'university': 'PIEAS', 1: 'eferwfer'}
{'a': 'apple', 'b': 'bananaa'}
<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>
eferwfer
faiza
{'name': 'faiza', 'city': 'pindi', 'university': 'PIEAS'}

In [20]:
#sets:unordered, unique, mutable

set1=set()
set2={1,2,3,1,2,3,4}
print(set1,set2)

# ading into aset
set1.add(5)
# removing: can also cause a keyerror, so better to use discard instead
set2.remove(3)
print(set1)
print(set2)

# clear:clear the set, pop()--->return the arbitrary value from set and also remove it too

# iteration,in operator,len
print(len(set2))

# mathematical op: union,intersection,difference and symmetrci difference---> return new set

# to change the set in place: use update
print(set1.update(set2))
print(set1)
# intersection update,difference_update method,issubset,issuperset,isdisjoint

# copy by assingment, by set const, by copy method

# frozenset

set() {1, 2, 3, 4}
{5}
{1, 2, 4}
3
None
{1, 2, 4, 5}

In [24]:
# Strings: immutable, ordered
s1='hello world'
print(s1[4])
chars=s1[:6:2]
print(chars)

# iteration,in operator(can check single char single word or arbitrary sequence of chars(substring)), concatenation

# method of string:upper,lower,strip,find(item)-> (find the index of item),endswith(char oe seq of char),statswith(same)

# replcae(item,newitem),count(item)

# split(delimter)-->default : a whitespace ' ', split convert a string in to list
s2='my name is faiza riaz'
s3=s2.split()
print(s3)

# convert a list to string
s4=','.join(s3)
print(s4)

o
hlo
['my', 'name', 'is', 'faiza', 'riaz']
my,name,is,faiza,riaz

In [32]:
# Collecion module implement special continer types:examples.....
from collections import Counter # keeps items as keys and their count of those keys as count
a='asauwhdw hwdqwhdiqwd cncn'
counter=Counter(a)
print(counter)

# can get values and keys iterable by keys and values method
# can also see most common(most frequent) with highes value of counter
print(counter.most_common(2)) #-->return the list ith tuples
print(counter.most_common(1)[0][1])

x=['cat','bat','rat','sat']
counterx=Counter(x)
print(counterx)

Counter({'w': 5, 'd': 4, 'h': 3, 'a': 2, ' ': 2, 'q': 2, 'c': 2, 'n': 2, 's': 1, 'u': 1, 'i': 1})
[('w', 5), ('d', 4)]
5
Counter({'cat': 1, 'bat': 1, 'rat': 1, 'sat': 1})

In [8]:
from collections import namedtuple
Grocery=namedtuple('Grocery','oil bananas vegetables herbs')
grocery=Grocery(1,vegetables=2,bananas=4,herbs=7)
print(grocery)

# namedtuple is a subclass of tuple so...
x,*y=grocery
print(x)
print(y)

print(grocery.bananas)

Grocery(oil=1, bananas=4, vegetables=2, herbs=7)
1
[4, 2, 7]
4

In [10]:
from collections import OrderedDict

# orderdict:remembers the order items were added, add he items in same order as added by user
# less relevant in python version 3.7 and above bcz ordinary dict do that too
# a subclass of dict class
ordered_dict=OrderedDict()
ordered_dict[0]='a'
ordered_dict[1]='b'
print(ordered_dict)

OrderedDict([(0, 'a'), (1, 'b')])

In [11]:
from collections import defaultdict

# provides the deafult values for a non existing key when accessed by [ ]
dicto=defaultdict(int)
dicto['a']=1
dicto['b']=2
print(dicto)
print(dicto['c'])

defaultdict(<class 'int'>, {'a': 1, 'b': 2})
0

In [15]:
from collections import deque

# list like container with fast pop and append on btoh sides
d=deque()
d.append(0)
d.append(2)
d.appendleft(3)
print(d)
d.pop() #popleft
print(d)
d.extendleft([1,2,3,4])
print(d)

deque([3, 0, 2])
deque([3, 0])
deque([4, 3, 2, 1, 3, 0])

In [23]:
#Generators
def gen_string(sentence):
  words=sentence.split()
  index=0
  while index <len(sentence):

    yield words[index]
    index=index+1
  else:
    raise StopIteration



sentence=gen_string('my name is faiza')
try:
  print(next(sentence))
  print(next(sentence))
  print(next(sentence))
  print(next(sentence))
  print(next(sentence))
except Exception as e:
  print(f'stop iteration: {e}')

my
name
is
faiza
stop iteration: list index out of range

In [45]:
#itertools a module to handle and provide many iterators
from itertools import product,permutations,combinations,combinations_with_replacement

# product provide the cartesean product of 2 iterable
# equivalen to nested loop in python
a=[1,2,3]
b=['a','b']
prod=product(a,b)
prod_self=product(a,repeat=2)
print(list(prod_self))

print(list(prod))

# permutations:non-repeated subset of product,order matters
perm=permutations(a,2)
print(list(perm))

# combinations: no repetion, order does not matter
comb=combinations(a,2)
print(list(comb))

# order odese not matter,repetition allowed
comb_wr=combinations_with_replacement(a,2)
print(list(comb_wr))

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]
[(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b'), (3, 'a'), (3, 'b')]
[(1, 2), (1, 3), (2, 1), (2, 3), (3, 1), (3, 2)]
[(1, 2), (1, 3), (2, 3)]
[(1, 1), (1, 2), (1, 3), (2, 2), (2, 3), (3, 3)]

In [54]:
# lambda functions:nameless function that are small
# lambda are used in higher order function

# lambda arg: expression

a=[1,2,3,4,5,6]
b=map(lambda x:x*2,a)
print(list(b))

c=filter(lambda x:x%2==0,a)
print(list(c))

x=lambda y=6:y*56
print(x(67))

[2, 4, 6, 8, 10, 12]
[2, 4, 6]
3752

In [ ]:
# errors and exception: syntax errors in code causse error
# even when syntax is correct it may cause error called exception
# many built in exeption in python alll inheritin from base class Exception...look up the docs
# use try catch raise assert--->evaluate an exprssion and if false throe Assertion Error
# we cn make our own custom exception by inheritin from exception class

In [58]:
# JSON data module
# converting dictionary(python obj) to json

import json
person={'name':'ali','age':30,'education':'grad-level','cities':['islamabad','lahore'],'alive':True}
personJSON=json.dumps(person,indent=4)
print(personJSON)

{
    "name": "ali",
    "age": 30,
    "education": "grad-level",
    "cities": [
        "islamabad",
        "lahore"
    ],
    "alive": true
}

In [56]:
import json
# writing this data to a file:
with open('person.json','w') as file:
  json.dump(person,file)

In [60]:
# converting json to a python obj --->deserialzation
with open('person.json','r') as file:
  person=json.load(file)
  print(person)

{'name': 'ali', 'age': 30, 'education': 'grad-level', 'cities': ['islamabad', 'lahore'], 'alive': True}